<div style="margin: 0 auto; width: 740px; background-color: #fff;padding-bottom: 30px;font-family: Helvetica,Arial,sans-serif; position:relative;">
    <table style="margin: 0 auto; width: 700px; font-size: 13px; color: white; text-align: center; height: 50px;" align="center" cellpadding="0" cellspacing="0" >
        <tbody>
            <tr>
                <td style="height: 32px; color:#909090;text-align: left;">To ensure to your inbox, please add <a href="mailto:{{global.email}}" style="color:#353535; text-decoration:underline;">{{global.email}}</a> to your address book.</td>
                <td style="height: 32px; color:#a798a7;text-align: right;">{{date}}</td>
            </tr>
        </tbody>
    </table>

    <div id="nav"></div>

    <table style="margin: 0 auto; width: 700px; background-color: #fff; border:1px solid #dadada;border-collapse:collapse;" align="center" cellpadding="0" cellspacing="0" >
        <tbody>
            <tr>
                <td>
                    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
                        <tbody>
                            <tr><td style="padding:35px 0 25px;"><a href="{{global.website}}?utm_medium=email&utm_source=transactional&utm_campaign=5"><img src="{{Template_path}}/topimg1.jpg" style="border:none;"></a></td></tr>
                        </tbody>
                    </table>
                    <table width="700" border="0" align="center" cellpadding="0" cellspacing="0" style="background-color: white; margin-bottom: 20px;border-collapse:collapse;  margin-top: 56px;">
                        <tbody>
                            <tr>
                                <td>
                                    <div id="content"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <table style="margin: 0 auto; width: 702px; background-color:#f4f4f4; height:80px;border:1px solid #dadada;border-top:none;border-top:0;" align="center" cellpadding="0" cellspacing="0" >
        <tbody>
            <tr>
                <td style="text-align: left;font-size: 13px; color: #8d7c8e;line-height: 25px; width: 78%; text-indent: 20px;">{{global.foot1}}<br>&nbsp;&nbsp;&nbsp;{{global.foot2}}&nbsp;<a style="color: #00B6C7;" href="http://www.pandacheer.net/drgrabscript/sc/index.php?email=%recipient%&amp;site={{global.nation}}">{{global.unsubscribe}}.</a></td>
                <td>
                    <img src="{{Template_path}}/lg.png" style="border:none;">
                </td>
            </tr>
        </tbody>
    </table>
</div>
