<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse;"><tbody>
        <tr>
            <td colspan="3" valign="top" height="170">
                <a href="{{image_url}}">
                    <img src="{{image}}" style="width: 600px;border:none;">
                </a>
            </td>
        </tr>
        <tr>
            <td style="padding-top: 12px;">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
                                    <tbody>
                                        <tr>
                                            <td width="68%">
                                                <a name="product-name" href="{{title_url}}" style=" font-size: 18px; color: #000; text-decoration: none;display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 300px;">{{title}}</a>
                                                <span name="product-description" style="color: #ff686e; font-size: 15px;font-weight:bold;  display:block;"><img src="{{Template_path}}/img3.jpg" style="border:none;"/>{{sale}}</span>
                                                <span name="product-description" style="color: #848484; font-weight:bold; font-size: 13px; text-decoration:line-through;">{{global.currency}}{{cost}}{{global.currency_suf}}</span>
                                                <span name="product-description" style="color: #ff686e; font-weight:bold; font-size: 18px;">{{global.currency}}{{discount}}{{global.currency_suf}}</span>
                                            </td>
                                            <td width="30%" style="padding-left: 26px;">
                                                <a href="{{more_url}}">
                                                    <img src="{{Template_path}}/more.jpg" style="border:none;">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr><td height="10"></td></tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
